@use "../../utils.scss" as *;

.like {
  @include icon() {
    @extend .fa-heart;
    font-size: 1.4em;
    @apply hover:text-pink-400;
  }

  &:disabled {
    pointer-events: none;
  }
}

.reply {
  @include icon() {
    @extend .fa-comment;
    font-size: 1.4em;
    @apply text-slate-400 hover:text-green-400;
  }

  &:disabled {
    pointer-events: none;
  }
}

.share {
  @include icon() {
    @extend .fa-share;
    font-size: 1.3em;
    @apply text-slate-400 hover:text-violet-500 bg-transparent border-none focus:outline-none focus:ring-0 p-0;
  }
}
